extends ./layout.jade

block content
    div.row
        div.col-xs-12
            h1 New Zealand education data

            p This site provides APIs to vairous New Zealand education data.

            p
                | The only API currently offered is for secondary technology subjects by school.
                | The 
                a(href='http://www.educationcounts.govt.nz/__data/assets/excel_doc/0008/144188/Secondary-Technology-By-School-1996-2014.xls') canonical data source
                |  for the API has been cleaned up to make exposing the data as JSON possible. Here is the 
                a(href='https://www.dropbox.com/s/9zdkafltupc2gq8/Secondary-Technology-By-School-1996-2014.xlsx?dl=1') updated spread sheet
                | .
            p
                | Developer docs available on 
                a(href='https://github.com/flashbackzoo/nz-education-data/blob/master/doc/index.md') GitHub
                | .
            p
                | For more information contact 
                a(href='mailto:david@davidcraig.co.nz') david@davidcraig.co.nz
